<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Gallery</h1>
    <p>This is my Family</p>
    <img src="/images/chiko.jpg" width="300" height="300"/>
    <img src="/images/bros.jpg" width="200" height="300" />
    <img src="/images/carnal.jpg" width="300" height="300" />
    <img src="/images/carnales.jpg" width="500" height="300" />
    <div>
        <a href="/">Back to Home</a>
    </div>
  </body>
</html>